.h1
  Liste des campagnes

%table.table
  %thead
    %tr
      %th
        Campagne
      %th
        Admin
      %th
      %th
      %th

  %tbody
    - @players.each do |player|
      %tr
        %td= player.campaign.name
        %td= player.admin ? 'Oui' : 'Non'
        %td
          %a{ role: :button, class: 'btn btn-primary btn-block', href: "/map/#{player.campaign_id}"}
            Carte
        %td
          %a{ role: :button, class: 'btn btn-primary btn-block', href: "/campaign/#{player.campaign_id}/players"}
            Liste des joueur
        %td
          - if player.admin
            %a{ role: :button, class: 'btn btn-primary btn-block', href: "/campaign/#{player.campaign_id}/add_player/new"}
              Ajouter un joueur
        %td
          - if player.admin
            %a{ role: :button, class: 'btn btn-danger btn-block', href: "/campaign/#{player.campaign_id}/delete", onclick: "return confirm('Etes vous sur de vouloir supprimer cette campagne ?');"}
              X



%a{ role: :button, class: 'btn btn-primary btn-block', href: '/campaign/new'}
  Créer une campagne

%a{ role: :button, class: 'btn btn-primary btn-block', href: '/logout'}
  Deconnection

